@font-face {
    font-family: 'MonoplexKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}

.logo > a {
    color: #fff;
  }
.anchor-container > a {
    color: #fff;
  }
.invite-button > a{
    color: black
}

*{
    padding: 0;
    margin: 0;
    font-family: 'MonoplexKR-Regular';
}
body{
    background-color: #272727;
    color: #fff;
}

/* logo 가 들어갈 nav */
.logo{
    font-size: xx-large;
    width: 180px;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.site-nav{
    width: 100%;
    height: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 첫번째 섹션에 들어갈 내용들 */
.intro-section{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.intro-content-container{
    width: 650px;
    height: 600px;
    display: flex;
    align-items: center;
}
.intro-content-center{
    margin-left: 30%;
    width: 80%;
    height: 70%;
}
.intro-header{
    margin-top: 80px;
}
.intro-p{
    margin-top: 80px;
}
.invite-button-container{
    width: 120px;
    height: 50px;
    margin-top: 80px;
}
.invite-button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.intro-img-div{
    display: flex;
    align-items: center;
    width: 600px;
    height: 550px;
}
.intro-img-container{
    width: 60%;
    height: 60%;
    margin-left: 60px;
    background-image: url('images/papamelon-rermovebg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.content-section{
    width: 100%;
    height: 1000px;
    margin-top: 50px;
}
.content-container{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.top-content-container{
    margin-left: 5%;
    margin-right: 5%;
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
}
.top-content-image{
    margin-left: 5%;
    width: 35%;
    height: 70%;
    display: flex;
    align-items: center;
    background-image: url('images/papamelon\ 번역기능.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.top-content-introduce{
    margin-left: 100px;
    width: 50%;
    height: 70%;
}
.top-content-introduce-header{
    margin-top: 10%;
    width: 100%;
    height: 15%;
}
.top-content-introduce-p{
    margin-top: 15%;
    width: 100%;
    height: 40%;
}
.bottom-content-container{
    margin-left: 5%;
    margin-right: 5%;
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
}
.bottom-content-image{
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    background-image: url('images/papamelon\ 아재개그기능.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-content-introduce{
    margin-left: 50px;
    width: 60%;
    height: 70%;
}
.bottom-content-introduce-header{
    margin-top: 10%;
    width: 100%;
    height: 15%;
}
.bottom-content-introduce-p{
    margin-top: 15%;
    width: 100%;
    height: 40%;
}


.site-footer{
    align-items: center;
    display: flex;
    justify-items: center;
    width: 100%;
    height: 150px;
}
.anchor-container{
    margin-left: 50%;
    width: 30%;
    height: 100%;
    font-size: x-small;
    text-align: center;
    align-items: center;
    justify-items: center;
    display: flex;
}